@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro:wght@300;400;700;900&display=swap');

body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.container-fluid, .row {
  height: 100%;
  align-items: stretch;
}

.col {
  min-height: 100%;;
}

img {
  max-width: 100%;
}

.sidebar {
  min-height: 100%;
}

main {
  overflow-y: scroll;
  max-height: 100%;
}

article {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.33;

  h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: 700;
  }

  h3 {
    font-weight: 300;
    margin-left: 2rem;
  }

  h4 {
    font-weight: 700;
    font-size: 1.15rem;
    margin-left: 4rem;
  }

  p {
    margin-left: 4rem;
    margin-right: 2rem;
  }

  li p {
    margin-bottom: 0;
  }

  .row {
    h1, h2, h3, h4, p {
      margin-left: 0;
    }
  }
}

.quoteblock {
  margin: 1rem 8rem;
  
  blockquote {
    font-size: 2rem;
  }

  .attribution {
    text-align: right;
  }
}

@media print {
  body {
    overflow-y: scroll;
  }

  main {
    overflow-y: auto;
    max-height: fit-content;
  }

  .article {
    padding: 0;
  }

  .logo {
    height: 4rem;
    margin: auto;
  }

  .sect1, .sect2, .sect3, .col-6 {
    page-break-inside: avoid;
  }

  .noprint { display: none; }
}