<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow, noarchive, notranslate" />
    <title>Westside Robotics Docs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b2ce818194.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class='col-12 col-lg-3'>
          <%= image_tag 'logo-brand.png', alt: 'Westside Robotics', class: 'mb-2 noprint' %>
          <ul class="list-group noprint">
            <% sitemap.resources.keep_if {|p| p.data['group'] }.group_by {|p| p.data['group'] }.each do |group, pages| %>
              <li class="list-group-item list-group-item-dark"><%= group %></li>
              <% pages.each do |page| %>
                <a href="<%= page.url %>" class="list-group-item list-group-item-action"><%= page.data['title'] %></a>
              <% end %>
            <% end %>
          </ul>
          
        </div>
        <main class="col-12 col-lg-9">
          <%= yield %>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>
