---
title: Westside Robotics Key People
group: Westside Robotics
---

.row 

  .col-6.col-lg-3
    %h3
      Zack Antalis
    %p
      FLL Coordinator
    %p
      = link_to 'zack@boilerinvasion.org', 'mailto:zack@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li FLL Coaching/Mentoring
      %li FLL Operations & Questions

  .col-6.col-lg-3
    %h3
      Betsy Baxter
    %p
      Senior Community Engagement Mentor
    %p
      = link_to 'betsy@boilerinvasion.org', 'mailto:betsy@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Marketing & Media
      %li Travel Planning

  .col-6.col-lg-3
    %h3
      Daniel Bravo
    %p
      Senior Software Mentor
    %p
      = link_to 'bravo@boilerinvasion.org', 'mailto:bravo@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li IT Needs
      %li Event Volunteering

  .col-6.col-lg-3
    %h3
      Derrick Dilts
    %p
      Board Vice-President, Fundraising Committee Chair
    %p
      = link_to 'derrick@boilerinvasion.org', 'mailto:derrick@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Fundraising
      %li Corporate Engagement

  .col-6.col-lg-3
    %h3
      Emily Dilts
    %p
      Parent Engagement Committee Chair
    %p
      = link_to 'emily@boilerinvasion.org', 'mailto:emily@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Parent Engagement & Volunteer Opportunities

  .col-6.col-lg-3
    %h3
      Steve Florence
    %p
      Senior Engineering Mentor Emeritus
    %p
      = link_to 'flo@boilerinvasion.org', 'mailto:flo@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Facility Maintenance

  .col-6.col-lg-3
    %h3
      Rao Fu
    %p
      Board Treasurer
    %p
      = link_to 'boosters-treasurer@boilerinvasion.org', 'mailto:boosters-treasurer@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Bookeeping
      %li State & Federal Filings

  .col-6.col-lg-3
    %h3
      Evan Hochstein
    %p
      FRC Alternate Lead Mentor, Senior Engineering Mentor
    %p
      = link_to 'evan@boilerinvasion.org', 'mailto:evan@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li FRC Team Questions & Mentorship

  .col-6.col-lg-3
    %h3
      Monica Hochstein
    %p
      Senior Community Engagement Mentor
    %p
      = link_to 'monica@boilerinvasion.org', 'mailto:monica@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Community Outreach Events
      %li Grants
      %li Alumni Engagement

  .col-6.col-lg-3
    %h3
      John Levy
    %p
      School Liasion / Teacher Sponsor
    %p
      = link_to 'levyj@wl.k12.in.us', 'mailto:levyj@wl.k12.in.us' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li School Policies, Procedures, and Paperwork

  .col-6.col-lg-3
    %h3
      Ryne Strzelecki
    %p
      Senior Engineering Mentor
    %p
      = link_to 'ryne@boilerinvasion.org', 'mailto:ryne@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li Shop Maintenance & Supplies

  .col-6.col-lg-3
    %h3
      Brad Thompson
    %p
      Executive Director, Steering Committee Chair, FRC Lead Mentor, Senior Software Mentor
    %p
      = link_to 'brad@boilerinvasion.org', 'mailto:brad@boilerinvasion.org' 
    %p
      = link_to 'Book a Meeting with Brad', 'https://calendly.com/sledgehammer/westside-robotics-coffee-lunch-meeting'
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li FRC Team Operations
      %li Cross-program Administrative Questions
      %li Purchasing & Reimbursements

  .col-6.col-lg-3
    %h3
      Kevin Wobschall
    %p
      Board President, FTC Alternate Lead Mentor, Senior Engineering Mentor
    %p
      = link_to 'kevin@boilerinvasion.org', 'mailto:kevin@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li 461 Boosters Meetings
      %li FTC Team Questions

  .col-6.col-lg-3
    %h3
      Peyton Yeung
    %p
      FTC Lead Mentor, Senior Engineering Mentor
    %p
      = link_to 'peyton@boilerinvasion.org', 'mailto:peyton@boilerinvasion.org' 
  .col-6.col-lg-3
    %h4 Contact me about:
    %ul
      %li FTC Team Operations & Mentorship